* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---Generic Styling---*/

header {
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  text-align: center;
}

h1, h2, h3, h4, p, blockquote{
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  color: white;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
}

h3 {
  color: #192B37;
  font-size: 3.5rem;
  margin-bottom: 2%;
  font-weight: 800;
  color: #193A50;
}

h4 {

}

p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #193A50;
}

blockquote {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: #193A50;
}

footer {
  background-color: #193A50;
  min-height: 60vh;
  color: white;
}


/*---Classes---*/

.benefits {

}

.bannerad {
  background-color: #ECB300;
  min-height: 60vh;
}

.blockquote {
  min-height: 40vh;
}

/*---Image Classes ---*/

.img-position {
  background-position: center;
  background-size: cover;
  min-height: 60vh;
  background-color: #E9E9E9;
}

.leaves-img {
  background-image: url("../assets/leaves.jpg");
}

.bed-img {
  background-image: url("../assets/bed.jpg");
}

.pencil-img {
  background-image: url("../assets/pencil.jpg");
}

.dog-img {
  background-image: url("../assets/dog.jpg");
}


/*---Type Classes ---*/


.text-highlight-yellow { /* Text highlighted in yellow */
  color: #ECB300;
}

.text-highlight-white { /* Type highlighted in white */
  color: #ffffff;
}

.text-padding {
  padding: 5%
}

.quotename {
  color: grey;
  font-size: .9rem;
  font-family: 'Work Sans', sans-serif;
  text-align: right;
  margin
}

.footer-h3 {
  color: white;
}

.text-color-white {
  color: white;
}

footer .text-highlight-yellow {
  display: block;
}
