*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  border: 1px solid black;
}

/*---Generic Styling---*/




/*---Classes---*/

.header {
  background-image: url("../assets/leaves.jpg");
  background-position: center;
  background-size: cover;
  min-height: 80vh;
}
